# Core ML 
pandas
numpy
scipy
pyarrow

# Visualization
matplotlib
seaborn

# Models
lightgbm
xgboost
optuna

# Database
scikit-learn
sqlalchemy 
psycopg2-binary

# MLOps
mlflow
shap

# Linting
pre-commit

# configs
pyyaml